body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito Sans", "Poppins",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f0f1;
}
html {
  background-color: #f3f0f1;
}
/* code {
  font-family: "Alkatra", cursive;
} */

.active {
  font-weight: bolder;
  text-decoration: none;

  /* transform: translateY(-10%); */

  /* color: theme.palette.text.secondary, */
  margin-right: 7px;
  /* box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692); */
  border-radius: 35px;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  transition: all 0.12s ease-in;
}
.inactive {
  text-decoration: none;
  font-weight: lighter;
  /* color: theme.palette.text.inactive, */
  margin-right: 7px;
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
  /* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */

  /* border-radius: 20px; */
}
/* .wave {
  position: absolute;
  bottom: 0;
  z-index: 1;
} */
.divider {
  display: none;
}

#loader {
  border-radius: 50%;
  width: 100px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* animation: spin 5s infinite; */
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .glow { */
/* color: #fff; */

/* animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
} */
/* .contact {
  -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
} */
/* .animateImg {
  animation-duration: 2s;
  animation-name: animate-img;
}

@keyframes animate-img {
  0% {
    transform: scale(0.1) translate3D(100vw, -100vh, 0) rotate(0);
  }
  5% {
    transform: scale(0.25) rotate(-15deg);
  }
  10% {
    transform: scale(0.75) rotate(5deg);
  }
  15% {
    transform: scale(1.75) rotate(5deg);
  }
  20% {
    transform: scale(1) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
} */
