body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.content {
  flex-grow: 1;
}
/* .active {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.inactive {
  text-decoration: none;
  color: "#fff";
  opacity: 1;
} */
